.pages {
    position: absolute;
    margin: 0px 20px 80px;
    bottom: 0; left: 0;
    width: 330px;
    text-align: left;
}

.pages a{
    font-family: Oswald, sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: rgb(192, 150, 30);
    text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
    text-decoration: none;
    display: inline;
    line-height: 2.2rem;
}

.pages span {
    font-family: Oswald, sans-serif;
    font-weight: 700;
    display: block;
    font-size: 2.8rem;
    color: rgb(45, 45, 90);
    text-shadow: none;
}

.pages a:hover{
    cursor: pointer;
    color: rgb(222, 180, 60);
}

.text {
    font-family: Impact, sans-serif;
    font-size: 2.8rem;
    color: rgb(45, 45, 90);
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .name {
        color: black;
    }
}

