.trueStory {
    position: absolute;
    margin: 0px 20px 40px;
    bottom: 0; left: 0;
    width: 330px;
    text-align: left;
}

.trueStory a{
    font-family: Oswald, sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: rgb(192, 150, 30);
    text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
    display: inline;
    line-height: 2.2rem;
}

.trueStory span {
    font-family: Oswald, sans-serif;
    font-weight: 700;
    display: block;
    font-size: 2.8rem;
    color: rgb(45, 45, 90);
    text-shadow: none;
}

.trueStory a:hover{
    cursor: pointer;
    color: rgb(222, 180, 60);
}

@media screen and (min-width: 780px) and (max-width: 991px) {
    .trueStory {
        margin: 0px 15px 40px;
    }
}

@media screen and (max-width: 780px) {
    .trueStory {
        margin: 0px 10px 30px;
        width: 190px;
    }

    .trueStory a{
        font-size: 1.5em;
        line-height: 1.5rem;
    }

    .trueStory span {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 780px) and (max-height: 412px) {
    .trueStory {
        visibility: hidden;
    }
}

