.youTube {
    padding: 2rem;
}

.heading {
    color: black;
    width: 100%;
    text-align: center;
    margin: 0 auto 1rem;
}

.heading h2 {
    font-weight: 600;
    font-size: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1280px;
    margin: 0 auto;
}

.channelBox {
    margin: 2em;
    transition: 0.5s;
    text-align: center;
}

.youtubeIcon {
    width: 8rem;
    border-radius: 4rem;
}


.youtubeIcon:hover {
    transform: scale(1.05);
}

.youtubeLink {
    text-decoration: none !important;
}

.youtubeName {
    color: black;
    padding-top: .6rem;
    font-size: .8rem;
    font-weight: 500;
}

@media screen and (max-width: 1280px) {
    .channelBox {
        margin: 1.4em;
    }
}

@media screen and (max-width: 960px) {
    .channelBox {
        margin: 0.8em;
    }
}

@media screen and (max-width: 564px) {
    .youtubeIcon {
        width: 6rem;
        border-radius: 3rem;
    }
    .youtubeName {
        padding-top: .5rem;
        font-size: .6rem;
    }
}

@media screen and (max-width: 450px) {
    .youTube {
        padding: 2rem 0.6rem;
    }

    .channelBox {
        margin: 0.3em;
    }

    .youtubeIcon {
        width: 6rem;
        border-radius: 3rem;
    }

}


