.youTube {
    margin-bottom: 2em;
}

.heading {
    color: black;
    width: 100%;
    text-align: center;
    margin: 1rem 0 auto;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.channelBox {
    padding: 1em;
    margin: 1em;
    transition: 0.5s;
    text-align: center;
}

.channelBox:hover {
    background-color: #ddd;
    transform: scale(1.05);
}

.youtubeIcon {
    width: 12rem;
    border-radius: 6rem;
}

.youtubeLink {
    text-decoration: none !important;
}

.youtubeName {
    color: black;
    padding-top: .6rem;
    font-size: 1.3rem;
    font-weight: 500;
}


