.youTube {
    background: green;
    margin-bottom: 2em;
}

.heading {
    color: black;
    width: 100%;
    text-align: center;
    margin: 2em 0 1em;
    background-color: yellow;
}

.channelBox {
    padding: 1em;
    background: #2196f3;
    max-width: 15em;
    margin: 1em;
    transition: 0.5s;
    text-align: center;
}

.youtubeIcon {
    width: 12rem;
    border-radius: 6rem;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

}

