.banner {
    position: relative;
    background: url("./../../../images/black2.jpg");
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h2 {
    font-size: 3em;
    color: white;
    font-weight: 500;
    line-height: 1.2em;
}

.banner h2 span {
    font-size: 1.5em;
    font-weight: 700;
    max-width: 300px;
    color: red;
}

.vit {
    font-size: 4.5em;
    font-weight: 700;
    max-width: 52vw;
    color: white;
}

.banner h3 {
    font-size: 2em;
    color: white;
    font-weight: 500;
}

.btn {
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: white;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

@media (max-width: 991px) {
    .banner {
        background-position: right -100px top;
        padding: 150px 50px 100px;
    }
    .banner h2 {
        font-size: 1.5em;
    }
    .vit {
        font-size: 2.25em;
    }

    .banner h3 {
        font-size: 1em;
    }
    .btn {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .banner {
        padding: 150px 20px 100px;
        background-position: right -180px top;
    }
}