.header {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 100px);
    padding: 40px 50px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

.sticky {
    background: white;
    padding: 20px 50px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1)
}

.header .logo {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

.header.sticky .logo {
    color: black;
}

.header.sticky .menu li a {
    color: black;
}

.menu {
    position: relative;
    display: flex;
}

.menu li {
    position: relative;
    list-style: none;
}

.menu li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

.header .sticky .menu li a {
    color: black;
}

@media (max-width: 991px) {
    .header,
    .header .sticky {
        padding: 20px 50px;
    }

    .menu {
        position: fixed;
        left: calc(-100%);
        top: 75px;
        display: block;
        padding: 40px 0px;
        text-align: center;
        width: 100%;
        height: calc(100vh - 75px);
        background-color: white;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    .menu li a {
        color: #111;
        font-size: 24px;
        margin: 2px;
    }

    .toggle {
        width: 40px;
        height: 40px;
        background: url("./../../../images/menu.png") no-repeat center;
        background-size: 30px;
        cursor: pointer;
    }

    .active {
        background: url("./../../../images/close.png") no-repeat center;
        background-size: 25px;
        cursor: pointer;
    }

    .activeMenu {
        left: 0;
    }

    .sticky .toggle {
        filter: invert(1);
    }
}

