.myApps {
    padding: 1rem 0;
}

.wrap {
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    width: calc(6.3vw + 20px);
    max-width: 560px;
    height: calc(12vw + 20px);
    max-height: 382px;
    position: relative
}

.imgSC {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
;
    border: 2px solid white;
}

.card {
    color: white;
    display: grid;
    grid-template-rows: 2fr 10fr 82px;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: "h h"
                         "p d"
                         "i i";
    height: 100%;
    width: 100%;
    background: blue;
    border-radius: 6px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}

.heading {
    grid-area: h;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 0.4rem;
}

.pictureBox {
    grid-area: p;
}

.picture {
    width: 100%;
    height: 100%;
    grid-area: p;
    margin: 10px 10px 0;
}

.description {
    grid-area: d;
    margin: 10px 10px 0 20px;
    text-align: justify;
    font-size: 0.75rem;
    text-indent: 0.4rem;
}

.icons {
    grid-area: i;
    margin: 0.5rem;
    height: 62px;
    display: flex;
    text-align: left;
    position: relative;
    width: 160px;
}

.iconZ {
    height: 100%;
    object-fit: contain;
    margin: 0 0.3rem;
}

@media screen and (max-width: 586px) {

    .wrap {
        padding: 8px;
        width: calc(12.6vw + 16px);
        height: calc(24vw + 16px);
    }

    .card {
        grid-template-rows: 2fr 10fr 62px;
    }

    .icons {
        height: 47px;
        width: 100px;
    }

    .iconZ {
        margin: 0 0.15rem;
    }

    .description {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 460px) {

    .card {
        grid-template-rows: 2fr 10fr 47px;
    }

    .icons {
        height: 32px;
        width: 60px;
    }

    .iconZ {
        margin: 0 0.1rem;
    }

    .description {
        font-size: 0.5rem;
    }
}